<div style="padding-top: 20px; padding-left: 120px;">
    <div>
    <h1>Liked Books</h1>
    <div>
        <div><img src="/assets/images/{{favlist.title}}.jpg" id="imgedit"></div>
        <p> </p>
        <p>{{favlist.title}}</p>
        <p>{{favlist.author}}</p>
        <p>{{favlist.year}}</p>
    </div>
</div>