<div style="padding-top: 100px;">
  <div class="card card-block container text-center">
    <h1 class="card-title"><i class="fas fa-sign-in-alt"></i> Login</h1>
    <form #userform='ngForm' (ngSubmit)='login()'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Email" required [(ngModel)]='user.email'
          name='email' />
      </div>
      <div class="form-group" style="padding-top: 10px;">
        <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]='user.password'
          name='password' required />
      </div>
      <div style="padding-top: 10px;">
        <button type="submit" class="btn btn-secondary" [disabled]='userform.form.invalid'>Login</button>
      </div>
    </form>
  </div>
</div>