<div style="text-align: center; padding-top: 40px;">
    <h1><img style="width: 80px; height: 80px;" src="https://cdn2.iconfinder.com/data/icons/tanahcon-graphic-design/64/Page-404-512.png"
            width="150" height="100" /> Page you are looking for doesnt exist</h1>
    <a routerLink='' style="text-decoration: none;"><i class="fas fa-house-user"></i> Home Page</a>
</div>