<div style="padding-top: 15px; padding-left: 2px;">
    <div style="color: black; font-weight: 900;">
        <div><img src="/assets/images/{{blog.title}}.jpg" id="imgedit"></div>
        <p> </p>
        <p>Title : {{blog.title}}
        <p>
        <p>Author : {{blog.author}}
        <p>
        <p>Year : {{blog.year}}
        <p>
        <p> </p>
    </div>
</div>