<div class='container' style="padding-top: 20px; padding-left: 85px;">
    <h1 class='h1'>Books Available</h1>
        <div *ngIf='books.length > 0'>
            <div *ngFor='let blog of books'>
                <app-booksdisplay [blog]='blog'></app-booksdisplay>
                <div style="padding-left: 5px;">
                    <button class="btn btn-outline-primary" (click)="delete(blog)"><i style="color: red;" class="fas fa-trash"></i> Delete</button><span style="margin-left: 10px;"></span>
                    <button class="btn btn-outline-primary" (click)="edit(blog)"><i style="color: brown;" class="far fa-edit"></i> Edit</button><span style="margin-left: 10px;"></span>
                    <button class="btn btn-outline-primary" (click)="addLiked(blog)"><i style="color: blue;" class="far fa-heart"></i> Add liked</button><span style="margin-left: 10px;"></span>
                    <button class="btn btn-outline-primary" (click)="readLater(blog)"><i style="color: green;" class="far fa-bookmark"></i> Read Later</button>
                </div>
            </div>
        </div>
</div>

