.card{
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: blanchedalmond;
}
button{
    height: 50px;
    width: 150px;  
    font-size: 20px; 
}
.form-group{
    margin-bottom: 10px;
}