<div style="padding-top: 100px;">
  <div class="card card-block container text-center">

    <h1 class="card-title"><i class="far fa-edit"></i> Edit Book</h1> 

    <form #blogform='ngForm' (ngSubmit)='onSubmit()'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter the title" required [(ngModel)]='books.title'
          name='title' #title='ngModel' pattern="^[A-Za-z\s]+$" [class.is-invalid]='title.invalid && title.touched' />
        <div *ngIf='title.touched'>
          <div *ngIf='title.invalid'>
            <small class='text-danger' *ngIf='title.errors?.required'>
              Title is required.
            </small>
            <small class='text-danger' *ngIf='title.errors?.pattern'>
              Title should consist of only alphabets.
            </small>
          </div>
        </div>
        <!-- <div>{{title.className}}</div> -->
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter the author" [(ngModel)]='books.author' name='desc'
          #desc='ngModel' [class.is-invalid]='desc.invalid && desc.touched' required />
        <div *ngIf='desc.touched'>
          <div *ngIf='desc.invalid'>
            <small class='text-danger' *ngIf='desc.errors?.required'>
              Author is required.
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter the year" [(ngModel)]='books.year' name='year'
          #year='ngModel' [class.is-invalid]='year.invalid && year.touched' required />
        <div *ngIf='year.touched'>
          <div *ngIf='year.invalid'>
            <small class='text-danger' *ngIf='year.errors?.required'>
              Author is required
            </small>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-secondary" [disabled]='blogform.form.invalid'>Update</button>
    </form>
  </div>
</div>