/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('https://www.sjpl.org/sites/default/files/styles/hero_image/public/2019-07/book_with_yellow_background_smaller.jpg?h=9abca68d&itok=47hYKawc');
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
