<div style="padding-top: 100px;">
    <div class="card card-block container text-center">
        <h1 class="card-title"><i class="fas fa-user-plus"></i> Register</h1>
        <form #userform='ngForm' (ngSubmit)='register()'>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Email" required [(ngModel)]='user.email'
                    name='email' />
            </div>
            <div class="form-group" style="padding-top: 10px;">
                <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]='user.password'
                    name='password' required />
            </div>
            <div style="padding-top: 10px;">
                <button type="submit" class="btn btn-secondary" (click)="register()" [disabled]='userform.form.invalid'>Register</button>
            </div>
        </form>
    </div>
</div>